body {
    margin: 0;
    background-color: #ABB5CB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
  }
  
  .container {
    text-align: center;
  }
  
  .logo {
    width: 300px;
    max-width: 80%;
    height: auto;
  }
  